<!DOCTYPE html>
<html>
    <body>
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://cs.hust.edu.cn/">
                        School of CS, HUST
                    </a>
                </li>
                <li>
                    <a href="https://luojia.cc/">
                        luojia.cc
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Copyright © 2018. Class 13, Grade 2018, School of Computer Science and Technology, HUST.
        </div>
    </body>
</html>